<div class="row">
  <div class="col-md-8">
    <h1 class="text-left">Formulas</h1>
  </div>
  <div class="col-md-4 center-block text-right">
    <h3><a ng-href="#/formulas/new" class="btn btn-success">Crear una Formula</a></h3>
  </div>

  <div id="loadPanel" class="col-md-12 column">

      <table class="table table-condensed table-hover table-striped">
      <thead>
      <tr>
        <th>Código</th>
        <th>Descripción</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="formula in formulas">
        <td class="col-md-2">{{ formula.codigo }}</td>
        <td class="col-md-2">{{ formula.descripcion }}</td>
        
        <td class="col-md-1 text-right text-nowrap">
            <a href="#/formulas/edit/{{$index}}"><i class="glyphicon glyphicon-pencil"></i></a>&nbsp;
<!--            <a href="#/formulas/delete/{{$index}}"><i class="glyphicon glyphicon-eye-open"></i></a>&nbsp;-->
            <a href="" ng-click="remove({{$index}})"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
      
    <div class="row">

      <div class="column text-right hidden">
        <ul class="pagination pagination-sm">
          <li><a href="#/">Prev</a></li>
          <li><a href="#/">1</a></li>
          <li><a href="#/">2</a></li>
          <li><a href="#/">3</a></li>
          <li><a href="#/">Next</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

